    <div class="card-body">
            </blockquote>
            <figcaption class="blockquote-footer d-flex align-items-center">
                <p class="my-0">Articles by <%= article.user.email %></p>
            </figcaption>
        </div>  
        <div class="article-content">
            <p><%= article.content %></p>
            <div class="read-more">
                <%= link_to "Read More", article_path(article.id) %>
            </div>
      </div>
    </div>
</div>