<div class="card mb-4 mt-3 shadow-sm bg-body rounded px-3 py-3">    
    <div class="card-body">
            <blockquote class="blockquote mb-4">
                <q class="fs-4 mb-4 article-title"><%= article.title %></q>
            </blockquote>
            <figcaption class="blockquote-footer d-flex align-items-center">
                <p class="my-0">Articles by <%= article.user.email %></p>
            </figcaption>
            <div class="article-content">
                <p><%= article.content %></p>
                <div class="read-more">
                    <%= link_to "Read More", article_path(article.id) %>
                </div>
            </div>
    </div>
</div>