<div class="d-flex justify-content-center align-items-center">
    <h1 class="fs-3">Articles Page</h1>
</div>
    <%= link_to "Create article", new_article_path, class: "btn btn-primary", id: "new-article-button" %>
    <%= render @articles %>
    <%= will_paginate @articles %>