 <%= turbo_frame_tag "articles", data: { turbo_action: "replace" } do %>
    <div class="d-flex justify-content-center align-items-center">
        <h1 class="fs-3">Create New Article</h1>
    </div>

    <%= render "form", article: @article %>
<% end %>