<div class="d-flex justify-content-center align-items-center">
    <div>
        <h1 class="fs-3">Homepage</h1>
        <% if current_user %>
                <p class="fs-4">Hello kamu adalah <%= current_user.role %> </p> 
                <%= render partial: "components/category" %>
        <% end %>
    </div>
</div>