<%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
        <div>
        <ul>
            <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    <div>
        <%= form.select :role, options_for_select([["User", 'user'], ["Moderator", 'moderator']]), {},  class: "form-select" %>
    </div>

    <br/>
    <%= form.submit(id: "button-update", class:'btn btn-dark') %>
<% end %>