<% if current_user.admin? || current_user.moderator? %>
    <% if @user %>
        <div class="jumbotron">
            <%= button_to 'Back', accounts_path, method: :get, class:"btn btn-outline-primary my-3", type: 'button' %>
            <h2 class="display-4">
                <%= @user.email %>
            </h2>

            <%= render 'form', user: @user %>
        </div>
    <% end %>
<% end %>